.mat-list-item {
  background-color: #fefefe;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
  margin-top: -16px;
}

::ng-deep .mat-expansion-panel-header {
  padding: 0px 14px !important;
}
