  <mat-nav-list class="navigation-list">
    <a class="navigation-item" mat-list-item routerLink="/map" routerLinkActive="active">Map</a>
    <a class="navigation-item" mat-list-item routerLink="/filter" routerLinkActive="active">Filter</a>
    <a class="navigation-item" mat-list-item routerLink="/filter">Merge Map</a>
    <a class="navigation-item" mat-list-item routerLink="/filter">Concat</a>
    <a class="navigation-item" mat-list-item routerLink="/filter">Subject</a>
    <a class="navigation-item" mat-list-item routerLink="/filter">Observables</a>
    <a class="navigation-item" mat-list-item routerLink="/filter">Replay</a>
    <a class="navigation-item" mat-list-item routerLink="/filter">AuditTime</a>
    <a class="navigation-item" mat-list-item routerLink="/filter">DebounceTime</a>
  </mat-nav-list>
