<mat-accordion>
  <mat-nav-list class="navigation-list">
    <mat-expansion-panel *ngFor="let grupo of gruposMenu">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{grupo.nome}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a class="navigation-item" mat-list-item routerLinkActive="active" [routerLink]="grupo.host+menu.host"
        *ngFor="let menu of grupo.itensMenu">
        {{menu.nome}}
      </a>
    </mat-expansion-panel>
  </mat-nav-list>
</mat-accordion>
