/*****************************************
* Angular Material Variables
*****************************************/

// default 64px
$mat-toolbar-height-desktop: 46px;

// default 2px
$mat-card-border-radius: 2px;

// default 0 16px
$mat-button-padding: 0 24px;

// default 0 15px
$mat-stroked-button-padding: 0 23px;

// default 36px
$mat-button-line-height: 48px;

// default 4px !default
$mat-button-toggle-standard-border-radius: 4px !default;
