$typography: mat-typography-config($font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $display-4: mat-typography-level(112px, 112px, 300),
  $display-3: mat-typography-level(56px, 56px, 300),
  $display-2: mat-typography-level(45px, 48px, 300),
  $display-1: mat-typography-level(34px, 40px, 300),
  $headline: mat-typography-level(32px, 32px, 300),
  /* H1 */
  $title: mat-typography-level(24px, 32px, 300),
  /* H2 */
  $subheading-2: mat-typography-level(18px, 28px, 400),
  /* H3 */
  $subheading-1: mat-typography-level(16px, 24px, 400),
  /* H4 */
  $body-1: mat-typography-level(14px, 24px, 300),
  /* Base body text */
  $body-2: mat-typography-level(14px, 24px, 600),
  /* Bolder body text */
  $caption: mat-typography-level(12px, 20px, 300),
  /* Smaller body and hint text */
  $button: mat-typography-level(14px, 14px, 400),
  /* Buttons and anchors */
  // Line-height must be unit-less fraction of the font-size.
  $input: mat-typography-level(14px, 1.125, 400)
  /* Form input fields */
);
